<div class="beneficiary-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Beneficiary Registration</mat-card-title>
            </mat-card-header>

    </mat-card>
    
    <form class="my-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <mat-card-content fxLayoutGap="10px grid">
            <!-- <mat-form-field class="full-width">
                <input matInput placeholder="first name" type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="middle name" type="text" formControlName="middleName">
            </mat-form-field>
            <mat-form-field class = "full-width">
                <input matInput placeholder="last name" type="text" formControlName ="lastName">
            </mat-form-field> -->
        </mat-card-content>
    </form>

</div>
<p>hekko</p>