<!-- <mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
        <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
        <a mat-button mat-raised-button routerLink="/signup" routerLinkActive="active">signup</a>
    </span>
</mat-toolbar> -->
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="my-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="email" type="text" formControlName="email">
            <!-- <mat-error *ngIf="formData.get('email').hasError("")">
            </mat-error> -->
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Password"  type="password" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="primary" class="btn-block" [disabled]="!formData.valid">Log in</button>
        <mat-error *ngIf="formError">{{formError.error}}</mat-error>
      </form>
    </mat-card>
</div>
